# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next

# editors
/.idea
/.vscode

# env files
.env
.env.*

# system files
Thumbs.db
.DS_Store

# testing
/test-results

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
/.vercel
